html {
  font-size: 30px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    color: goldenrod;
    
}

h2 {
    text-align: center;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: goldenrod;
}

p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

body {
    margin-bottom: 60px;
}

.flip-card-title {
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: Courier New, Courier, monospace, sans-serif;
}

.welcome-page {
    font-family: 'Poppins', sans-serif;
}

.flip-card-description {
    font-family: Courier New, Courier, monospace, sans-serif;
}

.searchstuff {
    padding-bottom: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.grid > * {
    flex: 1 1 400px;
    margin: 10px;
}

.flip-card {
    border-style: hidden;
    background-color: transparent;
    width: 700px !important;
    height: 500px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-image: linear-gradient(43deg, #aa915d 0%,#dec07b 46%, #fff397 100%);
    color: black;
}

.flip-card-back {
    background-image: linear-gradient(43deg, #fff397 0%,#ffffff, #ffffff 100%);
    color: black;
    transform: rotateY(180deg);
    padding: 30px;
}

.button-style {
    border-radius: 8px;
    background-color: #aa915d;
    color: white;
}