@{
    ViewData["Title"] = "Welcome";
}

<div class="welcome-page" style="font-family:'Poppins', sans-serif;">
    <h1>@ViewData["Title"]</h1>

    <p>This website contains a list of concepts that I have learned about the C# programming language.</p>

    <body>
        <div  style="text-align: center;">
            <img src="http://atlas-content-cdn.pixelsquid.com/stock-images/hashtag-gold-pound-sign-AEo1d87-600.jpg" alt="Hash tag" width="400" height="400">
        </div>
    
    </body>

</div>






