@{
    ViewData["Title"] = "Privacy Policy";
    List<ConceptModel> concepts = TempData["concepts"] as List<ConceptModel>;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="container">  
        
        @if(concepts != null) {
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
                @foreach(var concept in concepts)
                {
                   <tr>
                    <td>@concept.title</td>
                    <td>@concept.description</td>
                    <td>@concept.details</td>
                   </tr> 
                }                           
          </tbody>
        </table>
        }
        
     
    </div>

